.content{
	-ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    height: 100vh;
    padding-bottom: 40px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
	    width: 6px;
	    background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-thumb {
	    background-color: #000000;
	}
    	.home-page__products{
    		@include flexbox;
    		flex-wrap: wrap;
    		padding-left: 20px;
	    		.create-book{
	    			padding: 20px;
    				-ms-flex: 0 0 20%;
				    flex: 0 0 20%;
				    max-width: 20%;
				    	> button{
				    		padding: 2px 10px;
					    	border-radius: 5px;
					    	outline: none;
						    background: none;
						    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        -moz-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        background: #7158e2;
					        color: #ffffff;
					        border: 1px solid #7158e2;
					        &:active{
					            box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					            -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					            -moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					        }
					        &:hover{
					        	background: #ffffff;
					        	color: #7158e2;
					        }
				    	}
	    		}
    			.home-page__filter{
    				padding: 20px;
    				-ms-flex: 0 0 80%;
				    flex: 0 0 80%;
				    max-width: 80%;
				    > section{
				    	width: 100%;
				    	@include flexbox;
				    	flex-wrap: wrap;
				    	@include justify-content(flex-end);
				    	> button{
				    		margin-left: 10px;
				    		padding: 2px 10px;
					    	border-radius: 5px;
					    	outline: none;
						    background: none;
						    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        -moz-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
					        background: #4b4b4b;
					        color: #ffffff;
					        border: 1px solid #4b4b4b;
					        &:active{
					            box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					            -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					            -moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
					        }
					        &:hover{
					        	background: #ffffff;
					        	color: #4b4b4b;
					        }
					        &.active{
					        	border: 1px solid #3ae374;
					        	background: #3ae374;
					        	color: #ffffff;
					        	pointer-events: none;
					        }
				    	}
				    }
    			}
    			.result__item{
    				-ms-flex: 0 0 33.333333%;
				    flex: 0 0 33.333333%;
				    max-width: 33.333333%;
				    padding: 0 15px;
    			}
    			.cardCustom20--content.card{
    				width: 100%;
    				.blog-card {
			            flex-wrap: wrap;
			            grid-template-columns: auto;
			            grid-template-rows: 12rem 1fr;
			        }
			        .post-edit, 
				    .post-id,
				    .post-author,
				    .post-category,
				    .post-status{
				        width: 100%;
				        line-height: 1.8rem;
				        margin: 0;
				    }
				    .post__link--edit,
				    .post__link--delete{
				    	padding: 2px 10px;
				    	width: 100%;
				    	text-align: center;
				    }
    			}
    	}
}

@media only screen and (min-width:768px) and (max-width:991px){
	.content{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: auto;
	    padding-bottom: 40px;
		overflow-y: visible;
	    	.home-page__products{
	    		padding-left: 0;
				.result__item{
					-ms-flex: 0 0 50%;
				    flex: 0 0 50%;
				    max-width: 50%;
				    padding: 0 15px;
				}
			}
	}
}

@media only screen and (max-width: 767px){
	.content{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: auto;
	    padding-bottom: 40px;
		overflow-y: visible;
	    	.home-page__products{
	    		padding-left: 0;
	    		.create-book{
	    			padding: 40px 0 20px 20px;
    				-ms-flex: 0 0 35%;
				    flex: 0 0 35%;
				    max-width: 35%;
				}
	    		.home-page__filter{
	    			-ms-flex: 0 0 65%;
				    flex: 0 0 65%;
				    max-width: 65%;
				    padding: 40px 0 20px 0;
				    > section{
				    	> button{
				    		margin-bottom: 10px;
				    	}
				    }
				}
				.result__item{
					-ms-flex: 0 0 100%;
				    flex: 0 0 100%;
				    max-width: 100%;
				    padding: 0 15px;
				}
			}
	}
}