.content{
	-ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    height: 100vh;
    padding-bottom: 40px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
	    width: 6px;
	    background-color: #F5F5F5;
	}
	&::-webkit-scrollbar-thumb {
	    background-color: #000000;
	}
    	.home-page__products{
    		@include flexbox;
    		flex-wrap: wrap;
    		padding-left: 20px;
    			.result__item{
    				-ms-flex: 0 0 33.333333%;
				    flex: 0 0 33.333333%;
				    max-width: 33.333333%;
				    padding: 0 15px;
    			}
    			.cardCustom20--content.card{
    				width: 100%;
    				.blog-card {
			            flex-wrap: wrap;
			            grid-template-columns: auto;
			            grid-template-rows: 12rem 1fr;
			        }
			        .post-edit, 
				    .post-id,
				    .post-author,
				    .post-category,
				    .post-status{
				        width: 100%;
				        line-height: 1.8rem;
				        margin: 0;
				    }
				    .post__link--edit,
				    .post__link--delete{
				    	padding: 2px 10px;
				    	width: 100%;
				    	text-align: center;
				    }
    			}
    	}
}

@media only screen and (min-width:768px) and (max-width:991px){
	.content{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: auto;
	    padding-bottom: 40px;
		overflow-y: visible;
	    	.home-page__products{
	    		padding-left: 0;
				.result__item{
					-ms-flex: 0 0 50%;
				    flex: 0 0 50%;
				    max-width: 50%;
				    padding: 0 15px;
				}
			}
	}
}

@media only screen and (max-width: 767px){
	.content{
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	    height: auto;
	    padding-bottom: 40px;
		overflow-y: visible;
	    	.home-page__products{
	    		padding-left: 0;
				.result__item{
					-ms-flex: 0 0 100%;
				    flex: 0 0 100%;
				    max-width: 100%;
				    padding: 0 15px;
				}
			}
	}
}