body, html{
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style-type: none;
	}
}

.container-fluid{
	@include flexbox;
	width: 100%;
	._menu{
		text-align: center;
		height: 100vh;
		background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
		-ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	    color: #4b4b4b;
	    box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.75);
	    	a{
	    		color: #4b4b4b;
	    	}
	    	.menu__logo{
	    		padding: 50px 0;
	    		text-align: center;
	    		font-size: 70px;
	    	}
	    	.menu__list{
	    		ul{
	    			li{
	    				width: 80%;
						margin: auto;
						border-bottom: 1px solid #718093;
	    				a{
	    					font-size: 17px;
	    					article{
	    						@include flexbox;
	    						padding: 10px 5px;
	    							section{
	    								width: 60px;
	    								margin-right: 10px;
	    							}
	    					}
	    					&:hover{
	    						text-shadow: -1px -1px 2px rgba(245, 246, 250,0.6);
	    						color: #718093;
	    					}
	    				}
	    			}
	    		}
	    	}
	}
}

.button {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background: #313539;
  margin: 0 auto;
  padding-top: 12px;
  transition: all 500ms cubic-bezier(1.000, 0.000, 0.645, 0.650);
  opacity: 0;
  display: none;
  z-index: 101;
}

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.menu-bar {
  display: block;
  position: relative;
  background: #fff;
  width: 26px;
  height: 2px;
  border-radius: 1px;
  transition: all 300ms;
  margin: 0 auto;
}

.bar1 {
  top: 0;
  animation: topbar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.bar2 { opacity: 1; }

.bar3 {
  bottom: 0;
  animation: bottombar-back 500ms;
  animation-fill-mode: both;
  animation-play-state: initial !important;
}

.menu-bar + .menu-bar {
  margin-top: 5px;
}

.toggled .bar1 {
  top: 25%;
  animation: topbar-x 500ms;
  animation-fill-mode: both;
}

.toggled .bar2 {
  opacity: 0;
}

.toggled .bar3 {
  bottom: 25%;
  animation: bottombar-x 500ms;
  animation-fill-mode: both;
}

@keyframes topbar-x {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    top: 25%;
    -webkit-transform: rotate(145deg);
  }

  75% {
    -webkit-transform: rotate(130deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
  }
}

@keyframes topbar-back {
  0% {
    top: 25%;
    -webkit-transform: rotate(135deg);
  }

  45% {
    -webkit-transform: rotate(-10deg);
  }

  75% {
    -webkit-transform: rotate(5deg);
  }

  100% {
    top: 0;
    -webkit-transform: rotate(0);
  }
}

@keyframes bottombar-x {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0deg);
  }

  45% {
    bottom: 25%;
    -webkit-transform: rotate(-145deg);
  }

  75% {
    -webkit-transform: rotate(-130deg);
  }

  100% {
    -webkit-transform: rotate(-135deg);
  }
}

@keyframes bottombar-back {
  0% {
    bottom: 25%;
    -webkit-transform: rotate(-135deg);
  }

  45% {
    -webkit-transform: rotate(10deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
  }
}

.edit_card,.create_card,
.create-borrow_book{
	position: fixed;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	@include transition(all, 0.3s, ease);
	&.edit_card--show{
		width: 100vw;
		height: 100vh;
		opacity: 1;
	}
	> form{
		@include centerAbsolute(center);
		width: 60%;
		background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
		padding: 40px 20px;
		border-radius: 10px;
		box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 2px 16px 2px rgba(0,0,0,0.5);
		border: 1px solid #4b4b4b;
		> h2{
			text-align: center;
			margin-bottom: 30px;
		}
	}
}
._card--form{
	@include flexbox;
	flex-wrap: wrap;
	@include justify-content(space-between);
}
.input-contact{
    position: relative;
    margin-bottom: 30px;
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
    padding: 2px 20px;
}
.input-contact label{
    width: 100%;
}
.input-contact input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #191818;
    background: none;
    padding-top: 20px;
}
.input-contact section{
    position: absolute;
    top: 0;
    left: 20px;
    font-weight: 600;
}
.input-checkbox,
.input-file{
	flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	max-width: 50%;
	padding: 2px 20px;
	text-align: left;
	margin-bottom: 30px;
	section{
		font-weight: 600;
	}
}
.input-checkbox label:first-child{
	margin-right: 20px;
}
.button_edit{
	padding-left: 10px;
    font-weight: 600;
    width: 100%;
    @include flexbox;
    @include justify-content(space-between);
    > div{
    	flex: 0 0 49%;
    	-ms-flex: 0 0 49%;
    	max-width: 49%;
    }
    button{
    	width: 100%;
    	padding: 5px 0;
    	border-radius: 5px;
    	outline: none;
	    background: none;
	    box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.24);
        &:active{
            box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
            -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.07);
        }
    }
    .button--submit{
    	button{
    		border: 1px solid #1289A7;
		    background: #1289A7;
		    color: #ffffff;
		    &:hover{
		    	color: #1289A7;
		    	background: none;	
		    }
    	}
    }
    .button--close{
    	button{
    		border: 1px solid #ff3838;
		    background: #ff3838;
		    color: #ffffff;
		    &:hover{
		    	color: #ff3838;
		    	background: none;
		    }
    	}
    }
}



@media only screen and (max-width:991px){
	.container-fluid{
		._menu{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			max-width: 100%;
			height: 100vh;
			@include transform(translateX(-110%));
			@include transition(transform, 0.5s, ease);
		}
		._menu._menu--show{
			@include transform(translateX(0%));
		}
	}
	.button{
		opacity: 1;
		display: block;
	}
	.edit_card > form{
		width: 80%;
	}
	.input-contact,
	.input-checkbox,
	.input-file{
		flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		max-width: 100%;
		padding: 2px 0px;
	}
	.input-contact section{
		left: 0;
	}
}